<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button />
			<ion-button fill="clear" (click)="backToLobby()">
				<ion-icon name="arrow-back" slot="icon-only" />
			</ion-button>
		</ion-buttons>
		<ion-title>{{ gameTitle() }}</ion-title>
		<ion-buttons slot="end">
			@if (isHost()) {
				<ion-button fill="clear" color="danger" (click)="onCloseRoom()" title="Close room">
					<ion-icon name="trash" slot="icon-only" />
				</ion-button>
			}
			<ion-button fill="clear" color="danger" (click)="onLeaveRoom()" title="Leave room">
				<ion-icon name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<div class="game-shell">
	<ng-container #gameSlot />
</div>
