<div class="game-layout">
	<div class="game-left" #gameLeft>
		<gg-game-history [entries]="history()" [style.flex]="historyFlex()" />
		<div class="resize-handle" (mousedown)="startResize($event)"></div>
		<gg-chat [style.flex]="chatFlex()" />
	</div>
	<div class="game-shell">
		<header class="game-header">
			<button class="game-back" (click)="backToLobby()"><i class="fa-solid fa-arrow-left"></i> Back</button>
			<h1 class="game-title">{{ gameTitle() }}</h1>
		</header>
		<ng-container #gameSlot />
	</div>
</div>
