<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button fill="clear" (click)="backToLobby()">
				<ion-icon name="arrow-back" slot="icon-only" />
			</ion-button>
		</ion-buttons>
		<ion-title>{{ gameTitle() }}</ion-title>
		<ion-buttons slot="end">
			<ion-button fill="clear" color="danger" (click)="onLeaveRoom()">Leave</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<div class="game-layout">
	<div class="game-left">
		<gg-chat [roomId]="roomId()" />
	</div>
	<div class="game-shell">
		<ng-container #gameSlot />
	</div>
</div>
