<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button />
			<ion-button [routerLink]="['/play']" fill="clear">
				<ion-icon name="arrow-back" slot="icon-only" />
			</ion-button>
		</ion-buttons>
		<ion-title>{{ 'ROOM_NEW.TITLE' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="create-page">
		<div class="create-form">
			<div class="game-grid">
				@for (game of allGames; track game.id) {
					<button
						class="game-card"
						[class.selected]="selectedGameId() === game.id"
						(click)="select(game.id)"
					>
						<i [class]="'game-card-icon ' + game.icon"></i>
						<span class="game-card-name">{{ game.name }}</span>
						<span class="game-card-desc">{{ game.description | translate }}</span>
						<span class="game-card-players">
							{{ (game.minPlayers === game.maxPlayers
								? ('GAMES.PLAYER_COUNT_FIXED' | translate: { count: game.minPlayers })
								: ('GAMES.PLAYER_COUNT_RANGE' | translate: { min: game.minPlayers, max: game.maxPlayers })) }}
						</span>
					</button>
				}
			</div>

			<div class="form-actions">
				<ion-button [disabled]="!selectedGameId() || loading()" (click)="create()">
					{{ (loading() ? 'ROOM_NEW.CREATING' : 'ROOM_NEW.CREATE') | translate }}
				</ion-button>
			</div>
		</div>
	</div>
</ion-content>
