<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button />
			<ion-button [routerLink]="['/games']" fill="clear">
				<ion-icon name="arrow-back" slot="icon-only" />
			</ion-button>
		</ion-buttons>
		<ion-title>{{ descriptor().title | translate}}</ion-title>
		<ion-buttons slot="end">
			<ion-button fill="clear" (click)="showSettingsModal.set(true)" [title]="(isPlaying() ? 'LOBBY.VIEW_SETTINGS' : 'LOBBY.GAME_SETTINGS') | translate">
				<ion-icon name="settings-outline" slot="icon-only" />
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<div class="room-layout">
	<!-- @if (isInRoom()) {
		<div class="room-layout-left">
			<gg-chat [roomId]="roomId()" [chatHistory]="room()?.chat ?? []" />
		</div>
	} -->
	<!-- <gg-refreshable-content [fullscreen]="false" [scrollY]="false" [onRefresh]="refreshFn">
		<gg-game-shell [gameId]="game()!.name" />
	</gg-refreshable-content> -->
</div>

@if (showSettingsModal()) {
	<gg-game-settings-modal
		[gameId]="descriptor().id"
		[settings]="gameState().settings ?? {}"
		[editable]="!isPlaying()"
		(closed)="showSettingsModal.set(false)" />
}