# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/site/dist
/site/tmp
/site/out-tsc
/site/bazel-out
/api/dist

# Azure Functions
/api/local.settings.json
/api/node_modules

# Node
/site/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/site/.angular/cache
.sass-cache/
/site/connect.lock
/site/coverage
/libpeerconnection.log
testem.log
/site/typings

# System files
.DS_Store
Thumbs.db
