<gg-refreshable-content [fullscreen]="true" [onRefresh]="refreshFn">
	<div class="table-wrapper">
	<table class="rooms-table">
		<thead>
			<tr>
				<th>{{ 'ADMIN.ROOMS.ID' | translate }}</th>
				<th>{{ 'ADMIN.ROOMS.HOST' | translate }}</th>
				<th>{{ 'ADMIN.ROOMS.GAME' | translate }}</th>
				<th>{{ 'ADMIN.ROOMS.PHASE' | translate }}</th>
				<th>{{ 'ADMIN.ROOMS.LAST_UPDATED' | translate }}</th>
				<th class="actions"></th>
			</tr>
		</thead>

		<tbody>
			@for (room of rooms(); track room.id) {
				<tr>
					<td>{{ room.id }}</td>
					<td>{{ room.host }}</td>
					<td>{{ room.game }}</td>
					<td>{{ room.phase }}</td>
					<td>{{ room.lastUpdate | date:'short':'':locale() }}</td>
					<td class="actions">
						<ion-button
							[disabled]="loading()"
							(click)="deleteRoom(room.id)"
							fill="clear"
							color="danger">
							<ion-icon name="trash" />
						</ion-button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
</gg-refreshable-content>