@use 'styles/variables' as *;

ion-item.selected {
	--background: #{$accent-subtle};
	color: $accent;
	font-weight: 600;

	ion-icon[slot="start"] {
		color: $accent;
	}
}

ion-button.selected {
	--color: #{$accent};
}