<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button />
		</ion-buttons>
		<ion-title>{{ 'ADMIN.TITLE' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-list lines="none">
	<ion-item routerDirection="root" [routerLink]="'/admin/rooms'" detail="false" lines="full" routerLinkActive="selected">
		<ion-label>Rooms</ion-label>
	</ion-item>
	<ion-item routerDirection="root" [routerLink]="'/admin/playground'" detail="false" lines="full" routerLinkActive="selected">
		<ion-label>Playground</ion-label>
	</ion-item>
</ion-list>
<ion-content [fullscreen]="false">
	<ion-router-outlet />
</ion-content>
