@for (toast of toastService.toasts(); track toast.id) {
	<div class="toast toast-{{ toast.type }}" (click)="onToastClick(toast)">
		<ion-icon [name]="getIcon(toast)" />
		<span class="toast-message">{{ toast.message }}</span>
		@if (toast.yesno) {
			<div class="toast-actions">
				<button class="btn-yes" (click)="doYes(toast)">
					<ion-icon name="checkmark" /> {{ 'COMMON.YES' | translate }}
				</button>
				<button class="btn-no" (click)="doNo(toast)">
					<ion-icon name="close" /> {{ 'COMMON.NO' | translate }}
				</button>
			</div>
		}
	</div>
}
