<header class="site-header">
	<a routerLink="/" class="nav-link title">GandoGames</a>
	<nav class="site-nav">
		<a routerLink="/about" class="nav-link">About</a>
		@if (isLoggedIn()) {
			<a routerLink="/profile" class="nav-link">Profile</a>
		} @else {
			<a routerLink="/login" class="nav-link">Log in</a>
		}
		<button class="theme-toggle" (click)="toggleTheme()" [title]="themeLabel()">
			@if (isDark()) {
				<i class="fa-solid fa-sun"></i>
			} @else {
				<i class="fa-solid fa-moon"></i>
			}
		</button>
	</nav>
</header>

<router-outlet />
