<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button />
		</ion-buttons>
		<ion-title>{{ 'ABOUT.TITLE' | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<main class="about-main">
		<h1>{{ 'ABOUT.HEADING' | translate }}</h1>
		<p>{{ 'ABOUT.TAGLINE' | translate }}</p>
		<p>{{ 'ABOUT.STACK' | translate }}</p>
		<a class="github-link" href="https://github.com/gandolphinnn/GandoGames" target="_blank" rel="noopener">
			GitHub <ion-icon name="arrow-forward" />
		</a>
	</main>
</ion-content>
