<div class="history-panel">
	<div class="history-header">History</div>
	<ng-container *ngTemplateOutlet="list" />
</div>

<button class="history-fab" (click)="toggle()" title="Game history">
	<i class="fa-solid fa-clock-rotate-left"></i>
</button>

@if (open()) {
	<div class="history-backdrop" (click)="close()"></div>
	<aside class="history-drawer">
		<div class="history-header">
			History
			<button class="history-close" (click)="close()"><i class="fa-solid fa-xmark"></i></button>
		</div>
		<ng-container *ngTemplateOutlet="list" />
	</aside>
}

<ng-template #list>
	<div class="history-list">
		@for (entry of entries(); track $index) {
			<div class="history-entry">
				<span class="history-desc">{{ entry.description }}</span>
				<span class="history-time">{{ entry.timestamp | date:'HH:mm:ss' }}</span>
			</div>
		} @empty {
			<p class="history-empty">No events yet</p>
		}
	</div>
</ng-template>
