<button class="history-fab" (click)="toggle()" title="Game history">
	<i class="fa-solid fa-clock-rotate-left"></i>
</button>

<ion-modal
	[isOpen]="open()"
	(didDismiss)="close()"
	[breakpoints]="[0, 0.75, 1]"
	[initialBreakpoint]="0.75"
	[canDismiss]="true"
>
	<ng-template>
		<ion-header>
			<ion-toolbar>
				<ion-title>History</ion-title>
				<ion-buttons slot="end">
					<ion-button (click)="close()">
						<ion-icon slot="icon-only" name="close-outline"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>

		<ion-content>
			<div class="history-list">
				@for (entry of entries(); track $index) {
					<div class="history-entry">
						<span class="history-desc">{{ entry.description }}</span>
						<span class="history-time">{{ entry.timestamp | date:'HH:mm:ss' }}</span>
					</div>
				} @empty {
					<p class="history-empty">No events yet</p>
				}
			</div>
		</ion-content>
	</ng-template>
</ion-modal>
