@use 'styles/variables' as *;

:host {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $radius-full;
	color: #fff; // default for dark theme

	&.avatar-theme-light {
		color: #111;
	}
	font-weight: 700;
	flex-shrink: 0;
	user-select: none;
}
